DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=streamloft
API_PORT=10002
SRS_URL=http://74.81.35.20:8081
RTMP_URL=rtmp://74.81.35.20/live
JWT_SECRET=
LOG_LEVEL=info
ENCRYPTION_KEY_PATH=/opt/StreamLoft/streamloft_master.key