DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=streamloft
API_PORT=8080
SRS_URL=http://172.86.73.79:8081
RTMP_URL=rtmp://172.86.73.79/live
JWT_SECRET=
LOG_LEVEL=info
ENCRYPTION_KEY_PATH=/opt/StreamLoft/streamloft_master.key